body{
    background-color: coral;
}
p{
    font-family: sans-serif;
}

#one{
    background-color: blue;
}

#two{
    background-color: green;
}

#three{
    background-color: purple;
}

#four{
    background-color: orange;
}

.bordered{
    border: 2px solid rgb(243, 13, 147);
}

.text-red{
    color: red;
}

.alignc{
    text-align: center
}